@import url('https://fonts.cdnfonts.com/css/proxima-nova-condensed');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Proxima Nova Condensed', sans-serif;
}
:root{
    --top-bg: #252c30;
    --font-bcolor: #ffffff;
    --logo-color: #ffc000;
    --card-color: #2d3e50;
    --clint-bg: #f4f4f4;
}

/* Top part start  */
.top-part{
    background-color: var(--top-bg);
    color: var(--font-bcolor);
}
.top-part>div>p>i{
    color: var(--logo-color);
}
/* Top part end  */

/* head part start  */
.logo-yel{
    color: var(--logo-color);
}
.nav-item .nav-link{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: var(--card-color);
}
.nav-item .nav-link:hover{
    color: var(--logo-color);
}
/* head part end  */

/* banner part start  */
#banner-part{
    background-image: url(../images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.caro-info{
    display: flex;
    justify-content: center;
    align-items: center;

}
.caro-head{
    font-weight: 700;
    font-size: 70px;
}
.carousel-caption{
    margin-bottom: 15% !important;
}


/* banner part end  */

/* offer part start  */
.manual-img{
    width: 25%;
    justify-content: center;
    align-items: center;
}
.card-hover{
    transition: linear 0.2s;
    -webkit-transition: linear 0.2s;
    -moz-transition: linear 0.2s;
    -ms-transition: linear 0.2s;
    -o-transition: linear 0.2s;
}
.card-hover:hover{
    background-color: var(--card-color);
    color: var(--font-bcolor);
}
.card-title{
    font-weight: 600;
}
/* offer part end  */

/* our services part start */
#our-services-part .img{
    width: 50%;
}

/* our services part end */

/* counter part start  */
#counter-part{
    background-image: url(../images/counter.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
}
/* counter part end  */

/* we-offer part start  */
#we-offer-part .card-title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
#we-offer-part .card-text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
}
/* we-offer part end  */

/* projects gallary start  */

.pic-sizing img{
    width: 25%;
    background-color: #ffbf00;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
}
.pic-sizing img:hover{
    opacity: 0.5;

    
}
/* projects gallary end  */

/* team member part start  */
.card-icon i{
    font-size: large;
}
/* team member part end  */

/* Clints part start  */
#clint-part {
    background-color: var(--clint-bg);
}
/* Clints part end  */

/* footer part start  */
.input-custom{
    border: 0.1px solid var(--card-color);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 10px 30px ;
    box-shadow: 4px 2px 10px rgba(77, 75, 72, 0.507);
}
.btn-custom{
    padding: 10px 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: var(--logo-color);
    color: #f4f4f4;
    border: 0;
}
/* footer part end  */